<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>User Directory</title>

    <style>
        .valid{
            border:2px solid blue;
        }

        .invalid{
            border:2px solid red;
        }
    </style>
</head>

<body>
<div class="container">
    <h3>User Directory</h3>
    <hr>

    <form action="#" th:action="@{/save}" th:object="${user}" method="post" onsubmit="return validationSaveForm()">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <input type="hidden" th:field="*{id}"/>

                <td class="p-0"><input data-rule="name" type="text" th:field="*{firstName}" placeholder="First name" class="form-control col"> </td>

                <td class="p-0"><input data-rule="name" type="text" th:field="*{lastName}" placeholder="Last name" class="form-control col"> </td>

                <td class="p-0"><input data-rule="number" type="number" th:field="*{number}" placeholder="Phone number" class="form-control col"> </td>

                <td class="p-0"><input data-rule="email" type="text" th:field="*{email}" placeholder="Email" class="form-control col"> </td>

                <td class="p-0"><button id="add" type="submit" class="btn btn-info col">Add</button> </td>
            </tr>
            <tbody>
        </table>
    </form>

<!--Hidden form-->
<form th:hidden="true" action="#" th:action="@{/save}" th:object="${user}" method="post">
    <input th:id="'id-edit'" type="number" th:field="*{id}"/>

    <input th:id="'firstName-edit'" type="text" th:field="*{firstName}">

    <input th:id="'lastName-edit'" type="text" th:field="*{lastName}">

    <input th:id="'number-edit'" type="number" th:field="*{number}">

    <input th:id="'email-edit'" type="text" th:field="*{email}">

   <button id="add-edit" type="submit" >Add</button>
</form>

    <!--Table-->
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody th:each="tempUser:${users}">
                <tr>
                    <td class="p-0"><input th:id="'id'+${tempUser.getId()}" th:readonly="true"  th:value="${tempUser.getId()}" class="form-control col"/></td>
                    <td class="p-0"><input th:id="'firstName'+${tempUser.getId()}" th:readonly="true"  th:value="${tempUser.getFirstName()}" th:class="'form-control col '+${tempUser.getId()}"/></td>
                    <td class="p-0"><input th:id="'lastName'+${tempUser.getId()}"  th:readonly="true"  th:value="${tempUser.getLastName()}" th:class="'form-control col '+${tempUser.getId()}"/></td>
                    <td class="p-0"><input th:id="'number'+${tempUser.getId()}" th:readonly="true"  th:value="${tempUser.getNumber()}" th:class="'form-control col '+${tempUser.getId()}"/></td>
                    <td class="p-0"><input th:id="'email'+${tempUser.getId()}" th:readonly="true"  th:value="${tempUser.getEmail()}" th:class="'form-control col '+${tempUser.getId()}"/></td>
                    <!--Add links for update and delete-->
                    <td class="d-flex justify-content-center bd-highlight p-0">
                        <button th:id="'edit'+${tempUser.getId()}" th:hidden="false" class="btn btn-info flex-fill bd-highlight my-0" style="color: white" th:onclick="'javascript:edit(\''+ ${tempUser.getId()} +'\');'" type="button">Edit</button>
                        <button th:id="'save'+${tempUser.getId()}" th:hidden="true" class="btn btn-info flex-fill bd-highlight my-0" style="color: white" th:onclick="'javascript:save(\''+ ${tempUser.getId()} +'\');'" type="button">Save</button>

                        <a th:href="@{/delete(userId=${tempUser.getId()})}"
                           class="btn btn-danger flex-fill bd-highlight my-0"
                           onclick="if(!(confirm('Are you sure you want delete this user?'))) return false">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>

<script>
function edit(id) {
document.getElementById('edit'+id).hidden=true;
document.getElementById('save'+id).hidden=false;

let firstName = document.getElementById('firstName'+id);
let lastName = document.getElementById('lastName'+id);
let number = document.getElementById('number'+id);
let email = document.getElementById('email'+id);

firstName.removeAttribute('readonly');
lastName.removeAttribute('readonly');
number.removeAttribute('readonly');
email.removeAttribute('readonly');

firstName.addEventListener('blur',function () {
    firstName.setAttribute('value',this.value);
});

lastName.addEventListener('blur',function () {
    lastName.setAttribute('value',this.value);
});

number.addEventListener('blur',function () {
    number.setAttribute('value',this.value);
});

email.addEventListener('blur',function () {
    email.setAttribute('value',this.value);
});

}

function save(id) {
    document.getElementById('id-edit').value = +document.getElementById('id'+id).getAttribute('value');
    document.getElementById('firstName-edit').value = document.getElementById('firstName'+id).getAttribute('value');
    document.getElementById('lastName-edit').value = document.getElementById('lastName'+id).getAttribute('value');
    document.getElementById('number-edit').value = +document.getElementById('number'+id).getAttribute('value');
    document.getElementById('email-edit').value = document.getElementById('email'+id).getAttribute('value');
    if (validationEditForm(id)) {
        document.getElementById('add-edit').click();
    }
}

function validationSaveForm() {
    let inputs = document.querySelectorAll('input[data-rule]');

    let flag = 0;

    for (let input of inputs) {

        let rule = input.dataset.rule;
        let value = input.value;
        let check;

        switch (rule) {
            case 'name': {
                check = /^[A-Za-zА-Яа-яЁёІіЇїЄє]+$/.test(value);
                break;
            }

            case 'number':
                check = value.length === 11;
                break;


            case 'email': {
                check = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value);
                break;
            }
        }

        input.classList.remove('invalid');
        input.classList.remove('valid');
        if (check) {
            input.classList.add('valid');
            flag++;
        } else {
            input.classList.add('invalid');
        }
    }

    if(flag === 4){
        return true;
    }else {return false;}
}

function validationEditForm(id) {
    let inputs = document.getElementsByClassName(id);

    let flag = 0;

    for (let input of inputs) {

        let value = input.value;
        let check;

        console.log(value);

        if(input.id === ('firstName'+id)){
            check = /^[A-Za-zА-Яа-яЁёІіЇїЄє]+$/.test(value);
        }
        if(input.id === ('lastName'+id)){
            check = /^[A-Za-zА-Яа-яЁёІіЇїЄє]+$/.test(value);
        }
        if(input.id === ('number'+id)){
            check = value.length === 11;
        }
        if(input.id === ('email'+id)){
            check = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value);
        }

        input.classList.remove('invalid');
        input.classList.remove('valid');
        if (check) {
            input.classList.add('valid');
            flag++;
        } else {
            input.classList.add('invalid');
        }
    }

    if(flag === 4){
        return true;
    }else {return false;}
}
</script>

</body>
</html>